.App {
  text-align: center;
  /* border: 4px red solid; */
  height: 100vh;
}

body {
  background-color: rgb(34, 34, 34);
}

/* overflow-scroll */
/* nav-bar-rigid grid */

/* HEADER */

.header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(189, 32, 32);
  border-radius: 0px 0px 5px 5px;
  width: 100%;
}

.logo {
  height: 70px;
  width: 60px;
  z-index: 30;
}

.titel {
  margin: 20px;
}
.users-btn {
  margin-right: 20px;
  height: 70%;
  width: 70%;
  color: whitesmoke;
}

.logged-in {
  margin: 20px;
  color: whitesmoke;
}

.head {
  position: sticky;
  top: 0;
}

.articles {
  display: flex;
  flex-direction: column;
  border: 4px solid;
  border-color: lightblue;
  background-color: rgb(56, 55, 55);
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.article-title-div {
  background-color: rgb(143, 97, 97);
  border-radius: 5px;
}

.comments {
  /* display: flex;
  flex-direction: row; */
  /* border: 4px rgb(69, 91, 150) solid;
  margin: 10px; */
  /* padding: 10px;
  background-color: rgb(56, 55, 55); */
}

.comments-child {
  flex: 1;
  font-size: small;
  color: whitesmoke;
}

.voter {
  display: flex;
  flex-direction: column;
}

.vote-button {
  flex: 1;
}

.article-title {
  color: whitesmoke;
}

.article {
  width: 100%;
}

.article-body {
  color: whitesmoke;
  padding: 10px;
  margin: 10px;
  border: 4px solid;
  border-color: lightblue;
  border-radius: 15px;
  background-color: rgb(56, 55, 55);
}

.link {
  text-decoration: none;
  color: whitesmoke;
}
/* 
.sub-nav {
  text-align: center;
  border: 4px yellow solid;
  position: sticky;
} */

.nav {
  text-align: center;
  border-top-style: solid;
  border-top-color: rgb(69, 91, 150);
  position: fixed;
  bottom: 0;
  background-color: rgb(22, 21, 21);
  border-radius: 5px 5px 0px 0px;
  width: 98%;
}

.sort-by-buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.nav h4 {
  height: 0px;
  font-weight: lighter;
}

.button1 {
  flex: 1;
  height: 40px;
  color: whitesmoke;
  margin: 5px;
  font-size: 25px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.button2 {
  flex: 1;
  height: 40px;
  /* border-radius: 5px; */
  /* background-color: rgb(69, 91, 150); */
  color: whitesmoke;
  margin: 5px;
  font-size: 25px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.button3 {
  flex: 1;
  height: 40px;
  /* border-radius: 5px; */
  /* background-color: rgb(69, 91, 150); */
  color: whitesmoke;
  margin: 5px;
  font-size: 25px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.nav h4 {
  color: whitesmoke;
}

.sub-header {
  text-align: center;
  border: 4px lightgreen solid;
}

/* topics */
.topics {
  list-style: none;
  text-align: center;
}
.topics2 {
  text-align: center;
  border: 4px orange solid;
}

/* .comments {
  display: table-row;
  height: 100px;
} */

.voter1 {
  margin: 0 auto;
}

.vote-button {
  height: 20px;
  margin: 10px;
  color: whitesmoke;
}

.voter {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.topic-article {
  text-align: center;
  border: 4px rgb(245, 248, 81) solid;
}

.users {
  text-align: center;
  background-color: rgb(56, 55, 55);
  border-radius: 15px;
  border: 3px lightblue solid;
  margin: 10px;
  padding: 10px;
}

.comments {
  /* border: 4px rgb(69, 91, 150) solid; */
  margin: 10px;
  padding: 10px;
  background-color: rgb(56, 55, 55);
  border-radius: 15px;
}

.form-name {
  color: whitesmoke;
}

.comments-div {
  margin: 10px;
  padding: 10px;
}

.comment-body {
  color: whitesmoke;
}

.time {
  color: lightblue;
}

.sub-butt {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: whitesmoke;
  margin: 5px;
}

.vote-h2 {
  color: whitesmoke;
}

.del-butt {
  width: 20px;
  height: 30px;
}

.user-name {
  color: whitesmoke;
}

.container {
  height: 50px;
  width: 50%;
}

.user-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
